.div-imagenes
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    width: 100%
    height: auto
    background: none
    overflow: hidden
.cuadro
    width: 50%
    height: 550px
    overflow: hidden

.img-1
    background-image: url(./1.jpg)
    &:hover
        .info-1
            opacity: 1
            .headline
                transform: translateX(0)

.img-2
    background-image: url(./2.jpg)
    &:hover
        .info-2
            opacity: 1
            .headline
                transform: translateX(0)

.img-3
    background-image: url(./3.jpg)
    &:hover
        .info-3
            opacity: 1
            .headline
                transform: translateX(0)
.img-4
    background-image: url(./4.jpg)
    &:hover
        .info-4
            opacity: 1
            .headline
                transform: translateX(0)

.imagenes
    transition: transform .3s
    height: 100%
    background-size: cover
    overflow: hidden
    &:hover
        transform: scale(1.05)

.info
    width: 100%
    height: 100%
    padding: 50px
    overflow: hidden
    opacity: 0
    background-color: #00000064
    transition: opacity .3s
.imagenes
    p
        font-size: 1.1rem
        color: #fff

.headline
    transition: all .4s
    transform: translateX(-500px)
