.imagenes
    display: flex
    flex-flow: row wrap
    justify-content: flex-start
    width: 100%
    height: auto
    background-color: #ffffff

.cuadro
    background-size: cover
    width: 50%
    height: 550px

.img-1
    background: url(./1.webp)
.img-2
    background: url(./2.webp)
.img-3
    background: url(./3.webp)
.img-4
    background: url(./4.webp)

.text
    display: none
